.nav {
    grid-area: n;
    background: linear-gradient(120deg, rgba(229, 26, 69, 0.91), rgba(79, 19, 68, 0.8));
    padding: 20px;
}

.item {
    color: white;
}

.activeLink {
    color: gold;
}

.friends {
    padding-top: 150px;
    font-size: 27px;
    font-style: italic;
    color: white;
}

.friends img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    vertical-align:middle;

}

.friend {
    font-size: 15px;
    color: lightyellow;
}