.nav {
  grid-area: n;
  background: linear-gradient(120deg, #e55d87 0%, rgba(79, 19, 68, 0.8));
  padding: 20px;
  color: black;
  text-transform: capitalize; /*заглавная первая буква*/
}

.friends {
  padding-top: 100px;
  padding-bottom: 10px;
  font-size: 26px;
  font-style: italic;
}
