.descriptionBlock {
  padding: 10px;
  color: lightgoldenrodyellow;
}

.imgProfile {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.changePhoto {
  width: 150px;
  margin-top: -155px;
  padding-top: 100px;
  padding-left: 45px;
  opacity: 0;
}
.changePhoto:hover{
  opacity: 1;
  zoom: 1;
}

