.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
  'h h'
  'n c';
  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

}

.backgr {
  background:url('https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/0/8/8905/red-rocks-park-o.jpg') -25px -50px;
  top:0;
  width:100%;
  z-index:0;
  height:100%;
  background-size: calc(100% + 50px);
}

.app-wrapper-content {
  grid-area: c;
  background: linear-gradient(45deg, rgba(103, 0, 31, .8), rgba(34, 101, 163, .5));
}

.notLogin {
  background: rgba(255, 255, 255, 0.75);
}