.dialogs {
    margin: 5px;
    display: grid;
    grid-template-areas: 'n m';
    grid-template-columns: 20% 80%;
}

.message{
    padding-left: 10px;
    color: lightyellow;
}

.friends {
    padding-top: 150px;
    font-size: 27px;
    font-style: italic;
    color: white;
}

.friends img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    vertical-align: middle;

}

.friend {
    font-size: 15px;
    color: lightyellow;
}

